{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button type="submit" class="btn btn-success">Ajouter</button>
    {{ form_end(lieuForm) }}
{% endblock %}