{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <button type="submit">Ajouter</button>
    {{ form_end(villeForm) }}
{% endblock %}