{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}| Login{% endblock %}
{% block main %}

        <div class="container mt-5">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Connexion</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="username" name="_username" id="username">

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="password" name="_password" id="password">
                            </div>
                            <div class="form-group d-flex">
                                <input type="checkbox"><p>Se souvenir de moi</p>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn float-right btn-success w-100">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">

                        <div class="d-flex justify-content-center">
                            <a href="#">Mot de passe oublié ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
